service2.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com/userService"
    name="UserService"
    targetNamespace="http://example.com/userService">

    <!-- Définition des types de données -->
    <types>
       <!--  <xsd:schema targetNamespace="http://example.com/userService">
            <xsd:element name="uid" type="xsd:int"/>
            <xsd:element name="cardId" type="xsd:int"/>
            <xsd:element name="username" type="xsd:string"/>
        </xsd:schema> -->
    </types>

    <!-- Définition des messages -->
    <message name="createUserRequest">
        <part name="uid" type="xsd:int"/>
        <part name="cardId" type="xsd:int"/>
        <part name="username" type="xsd:string"/>
    </message>
    <message name="createUserResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <!-- Définition des opérations -->
    <portType name="UserServicePortType">
        <operation name="createUser">
            <input message="tns:createUserRequest"/>
            <output message="tns:createUserResponse"/>
        </operation>
    </portType>

    <!-- Définition des liaisons -->
    <binding name="UserServiceBinding" type="tns:UserServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createUser">
            <soap:operation soapAction="http://example.com/userService/createUser"/>
            <input>
                <soap:body use="encoded" namespace="http://example.com/userService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://example.com/userService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <!-- Définition de l'adresse du service -->
    <service name="UserService">
        <port name="UserServicePort" binding="tns:UserServiceBinding">
            <soap:address location="http://example.com/userService"/>
        </port>
    </service>

</definitions>
